*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(120deg, rgba(30,30,30,1) 0%, rgba(20,20,20,1) 100%),url(files/images/);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    color: #444;
}
nav img{
    width: 150%;
}
.nav-links{
    flex: 1;
    text-align: center;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #444;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #444;
    display: block;
    margin: auto;
    transition: 700ms;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #444;
    position: absolute;
    top: 45%;
    left: 5%;
    transition: translate(50%,50%);
    text-align: center;
}
.text-box1{
    width: 90%;
    color: #444;
    position: absolute;
    top: 53%;
    left: 5%;
    transition: translate(50%,50%);
    text-align: center;
}
mid-nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    color: #444;
}
mid-nav img{
    width: 150%;
}
.mid-nav-links{
    flex: 1;
    text-align: center;
    width: 90%;
    color: #444;
    position: absolute;
    top: 55%;
    left: 5%;
}
.mid-nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.mid-nav-links ul li a{
    color: #444;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #444;
    display: block;
    margin: auto;
    transition: 700ms;
}
.nav-links ul li:hover::after{
    width: 0%;
}
.text-box2{
    width: 90%;
    color: #444;
    position: absolute;
    top: 56%;
    left: 0%;
    transition: translate(50%,50%);
    text-align: center;
}
.text-box3{
    width: 90%;
    color: #444;
    position: absolute;
    top: 56%;
    left: 5%;
    transition: translate(50%,50%);
    text-align: center;
}
.text-box4{
    width: 90%;
    color: #444;
    position: absolute;
    top: 56%;
    left: 10%;
    transition: translate(50%,50%);
    text-align: center;
}
.chipchip{
    width: 90%;
    color: #444;
    position: absolute;
    top: 92.5%;
    left: 5%;
    transition: translate(50%,50%);
    text-align: center;
}
.creator{
    width: 90%;
    color: #444;
    position: absolute;
    top: 95%;
    left: 5%;
    transition: translate(50%,50%);
    text-align: center;
}
.text-box h1{
    font-size: 60px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #444;
}
